.container {
  padding: 5rem 0;
}

.login {
  padding: 5rem 0;
  color: #0B0C10;
  /* background-color: #0B0C10; */
}

.logout {
  color: #0B0C10;
  /* background-color: #0B0C10; */
}

img .user-pic {
  width: 30px;
  height: 30px;;
}

.dash-buttons {
  padding: 1rem;
}
.blog-container {
  display: flex;
  flex-direction: row;
}
.left {
  width: 85%;
  flex: 1 0 auto;
}
.right {
  width: 15%;
}
