<div >
  <mz-card
  class="blue-grey lighten-5 black-text"
  [hoverable]="false">
  <mz-card-title>
    <h1 class="center-align">Pine Wood Derby Rules</h1>
  </mz-card-title>
  <mz-card-content >
    <div class="rules col s12 z-depth-5">
    <h2 class="center-align">RACING RULES:</h2>
    <div>
    <p>ALL CARS MUST PASS INSPECTION TO QUALIFY FOR THE RACE</p>

    <p>Following are the inspection points</p>

    <p>1. The car weight shall not exceed 5.0 ounces. The official race scale shall be considered final.</p>

    <p>2. The overall length of the car shall not exceed 7 inches.</p>

    <p>3. The overall width of the car shall not exceed 2 ¾ inches.</p>

    <p>4. The car must have 1 ¾” clearance between the wheels.</p>

    <p>5. The car must have 3/8” clearance underneath the body.</p>

    <p>6. The wheels supplied with a BSA kit must be used. The wheels may not be cut or drilled. You may remove the seam from the wheels.</p>

    <p>7. The axles supplied with a BSA kit must be used. They maybe polished or lubricated.</p>

    <p>8. Only dry lubricants such as graphite or powdered teflon "white lube" will be allowed for lubricating the wheels.</p>

    <p>9. Wheel bearings, washers or bushings are prohibited.</p>

    <p>10. The car must be freewheeling, with no starting devices.</p>

    <p>11. No loose material of any kind, such as lead shot, may be used.</p>

    <p>12. Details such as the steering wheel, driver, decals, painting, and interior detail are permissible as long as these details do not exceed the maximum length, width, and weight specifications.</p>

    <p>Each car must pass inspection by the official inspection committee before it will be allowed to compete. The Inspection Committee has the responsibility to disqualify those cars that do not meet these specifications.</p>

    <p>Registration and inspection will be held on Friday before the Pinewood Derby at the Willowfork Fire Department from 6-8 pm. Participants will have an opportunity to fine tune their car after initial inspection. Once final inspection has taken place, the race committee will take custody of the car until race completion. Because time will be limited for track setup and testing, registration and inspection on race day is discouraged. Requests for race day registration and inspection must be scheduled in advance with the Race Chairman.</p>

    <p>During the race, cars that leave their assigned lane and interfere with other cars will be disqualified after the second occurrence.</p>

    <p>Each participant will race a minimum of three (3) times. The three fast times will advance to the next round. The fastest time in the final Championship round will be the winner.</p>

    <p>In the case of failure of the timer then scoring for each heat will be as follows: 1st Place awarded 1 point, 2nd Place awarded 2 points and 3rd Place. Participants with the lowest point total at the end of each round will advance until 3 cars remain. The remaining three (3) cars will have a race off to determine 1st, 2nd and 3rd Place for the pack.</p>
    </div>
    <div>
    <h2 class="center-align">PACK 548 PINEWOOD DERBY AWARDS</h2>

    <p>Pinewood Derby Awards will be as follows (cars may only receive one ward):</p>

    <p>1st, 2nd & 3rd Place Medals will be awarded for each Rank.</p>

    <p>1st, 2nd & 3rd Place Trophies will be awarded to the top three finishers in the Pack.</p>

    <p>Certificates will be awarded for the following Pinewood Derby Design Themes:</p>

    <p>Cub Scout Car</p>

    <p>Patiotic</p>

    <p>Race Car</p>

    <p>Truck, Bus or Train</p>

    <p>Animal</p>

    <p>Military</p>

    <p>Cartoon Character</p>

    <p>Sports</p>

    <p>Funny or Comical Car</p>

    <p>Food Car</p>

    <p>Best of Show</p>

    <p>Most Original</p>
    </div>
    </div>
  </mz-card-content>
  </mz-card>
</div>
