<div class="navbar-fixed">
  <nav [ngClass]= "{'page-scroll-header': isScrolled}">
    <div class="nav-wrapper " >
      <a href="" class="brand-logo " >Pack 548 PWD</a>
      <a href="" materialize="sideNav"  data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul  class="right hide-on-med-and-down">
        <li><a [ngClass]= "{'page-scroll-header': isScrolled}" href="" >Cars</a></li>
        <li><a [ngClass]= "{'page-scroll-header': isScrolled}" href="results" >Results</a></li>
        <li><a [ngClass]= "{'page-scroll-header': isScrolled}" href="rules" >Rules</a></li>
        <li><a [ngClass]= "{'page-scroll-header': isScrolled}" href="templates" >Templates</a></li>
      </ul>

    </div>
  </nav>

</div>
<ul class="side-nav" id="mobile-demo">
  <div class="bg-image"></div>
  <li><a href=""  >Cars</a></li>
  <li><a href="results" >Results</a></li>
  <li><a href="rules" >Rules</a></li>
  <li><a href="templates" >Templates</a></li>

</ul>
